.content-box {
  position: relative;
  display: block;
  margin: auto;
  max-width: 1200px;
  background: greenyellow;
  border-radius: 6px;
  border: 1px solid black;
  box-shadow: 0 0 15px 1px red;
}

.content-box h1 {
  text-align: center;
}

.content-box form {
  width: 550px;
  text-align: center;
  margin: auto;
  display: block;
  background: silver;
}

.content-box input {
  display: block;
  width: calc(100% - 32px);
  padding: 15px;
  border: 1px solid black;
  background: skyblue;
  outline: none;
  font-weight: bold;
}

.content-box span {
  display: inline-block;
  padding: 10px 0 5px;
}

.content-box input::placeholder {
  color: black;
  font-weight: bold;
  font-size: 20px;
  text-shadow: none!important;
}

.content-box button {
  display: block;
  cursor: pointer;
  width: 100%;
  padding: 15px;
  border: 1px solid black;
  background: skyblue;
  outline: none;
  font-weight: bold;
  transition: 2s;
}

.content-box button:hover {
  border: 3px solid black;
  background: #eb8d94;
  padding: 13px;
}
